
# Amap
AMAP_BASE_URL="https://restapi.amap.com/v5/place/text?"
AMAP_API_KEY=

# uapi
UAPI_BASE_URL="https://uapis.cn"
UAPI_API_KEY=

# Serp
SERP_BASE_URL="https://serpapi.com/search.json?"
SERP_API_KEY=
